<!--  UTut: University Tutor
    Copyright (C) 2018  
    Mendoza, John Dominic
    Segismundo, Julio 
    De Guzman, Nicole Jade            

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    This is a course requirement for CS 192
    Software Engineering II under the
    supervision of Asst. Prof. Ma. Rowena C.
    Solamo of the Department of Computer
    Science, College of Engineering, University
    of the Philippines, Diliman for the AY 2017-2018
 -->

<!-- 
     Jules Segismundo, 02/14/18: file creation
-->

<!-- 
     This page shows the fields that can be updated in one's user profile
-->


<div class="container"> 

     <% provide(:title, 'Sign up') %>
  
     <h1 class="center" id="signup">UPDATE PROFILE</h1>

     <div class="center">
          <div class="row", id="form">
               <%= form_for(@user) do |f| %>
               <% if @user.errors.any? %>
                    <div id="error_explanation">
                         <div class="alert alert-danger">
                              Invalid sign up form
                              <ul>
                                   <% @user.errors.full_messages.each do |msg| 
                                        if msg != "Password can't be blank"%>
                                             <li><%= msg %></li>
                                        <%end%>
                                   <% end %>
                              </ul>
                         </div>
                    </div>
               <% end %>
               <div>
                    <%= f.label :description, "Description" %>
                    <div class="col">
                         <%= f.text_area :description %>
                    </div>
               </div>     
               
               <div>
                    <%= f.label :password %>
                    <div class="col">
                         <%= f.password_field :password %>
                    </div>
               </div>

               <div>
                    <%= f.label :password_confirmation, "Confirm Password:" %>
                    <div class="col">
                         <%= f.password_field :password_confirmation %>
                    </div>
               </div>
               <br>
                    <%= f.submit "Update profile", class: "btn btn-primary" %>
               <% end %>
          </div>
     </div>
</div>