<!--  UTut: University Tutor
    Copyright (C) 2018  
    Mendoza, John Dominic
    Segismundo, Julio 
    De Guzman, Nicole Jade            

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    This is a course requirement for CS 192
    Software Engineering II under the
    supervision of Asst. Prof. Ma. Rowena C.
    Solamo of the Department of Computer
    Science, College of Engineering, University
    of the Philippines, Diliman for the AY 2017-2018
 -->

<!-- 
     JD Mendoza, 01/30/18: file creation
     Jules Segismundo, 01/30/18: added skeleton of the html
     Nicole Jade De Guzman, 02/03/18: edited title, edited columns
     Nicole Jade De Guzman, 02/04/18: structure of the whole page
     Jules Segismundo, 02/07/18: error handling 
-->

<!-- 
     This html file is for the layout of the signup page
-->

<div class="container"> 
  <div class="col-md-8">
    <h1 id="utut1">UTut: University Tutor</h1>
    <h2 id="needs">Find your tutorial needs.</h2>
  </div>

  <% provide(:title, 'Sign up') %>
  
  <h1 id="signup">SIGN UP</h1>

  <div class="col-md-4">
    <div class="row", id="form">
        <%= form_for(@user) do |f| %>
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <div class="alert alert-danger">
                Invalid sign up form
                <ul>
                  <% @user.errors.full_messages.each do |msg| 
                    if msg != "Password can't be blank"%>
                   <li><%= msg %></li>
                   <%end%>
                 <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          <div>
            <%= f.label :username %>
            <div class="col">
              <%= f.text_field :username %>
            </div>
          </div>

          <div>
            <%= f.label :firstname, "First Name" %>
            <div class="col">
              <%= f.text_field :firstname %>
            </div>
          </div>

          <div>
            <%= f.label :lastname, "Last Name" %>
            <div class="col">
              <%= f.text_field :lastname %>
            </div>
          </div>

          <div>
            <%= f.label :sex, "Sex:" %> 
          </div>
          <div class="container">
            <div class="col-md-5">
              <div class="field">
                <div class="radio">
                  <%= f.radio_button :sex, "Male"%>
                  <%= f.label :sex, "Male", :value => "Male"  %>
                </div> 
                <div class="radio">
                <%= f.radio_button :sex, "Female"%>
                <%= f.label :sex, "Female", :value => "Female" %>
              </div>
            </div>
          </div>
          </div>

          <div>
            <%= f.label :password %>
            <div class="col">
              <%= f.password_field :password %>
            </div>
          </div>

          <div>
            <%= f.label :password_confirmation, "Confirm Password:" %>
            <div class="col">
              <%= f.password_field :password_confirmation %>
            </div>
          </div>
          <br>
           <%= f.submit "Create my account", class: "btn btn-primary" %>
        <% end %>
    </div>
  </div>
</div>