<!--  UTut: University Tutor
    Copyright (C) 2018  
    Mendoza, John Dominic
    Segismundo, Julio 
    De Guzman, Nicole Jade            

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    This is a course requirement for CS 192
    Software Engineering II under the
    supervision of Asst. Prof. Ma. Rowena C.
    Solamo of the Department of Computer
    Science, College of Engineering, University
    of the Philippines, Diliman for the AY 2017-2018
 -->

<!-- 
     Jules Segismundo, 02/02/18: file creation
     JD Mendoza, 02/14/18: Now shows details
     JD Mendoza, 03/14/18: Added offered tutorial(s)
     Jade De Guzman, 03/21/18: Other profile view fixed
     Jules Segismundo, 03/23/18: Fixed a bug that doesn't show profile again once tutorials tab was clicked
-->

<!-- 
     This page shows user credentials, soon will be the profile
-->

<div class="container">
     <% provide(:title, "Other Profile") %>
     <div class="container">
               <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#profile"><%= get_full_name(@user) %></a></li>
                    <li><a data-toggle="tab" href="#tutorial">Offered Tutorial</a></li>
                    <li><a data-toggle="tab" href="#review">Reviews</a></li>
               </ul>

               <div class="tab-content">
                    <div id="profile" class="tab-pane fade in active">
                         <div class="row", id="form">
                              <%= form_for(@user) do |f| %>
                              <div class="container">
                                   <div class="col-md-1"></div>
                                   <div class="col-md-5", id="deets">
                                        <div>
                                             <%= f.label "Name:"%>
                                             <%= (get_full_name @user).titleize %>
                                        </div>
                                        <div>
                                             <%= f.label "Sex:"%>
                                             <%= (get_sex @user)%>
                                        </div>
                                   </div>
                                   <div class="col-md-5", id="deets">
                                        <div>
                                             <%= f.label "Description:"%>
                                             <%= (get_description @user) %>
                                        </div>
                                   </div>
                              </div>
                              <% end %>
                         </div>
                    </div>

                    <div id="tutorial" class="tab-pane fade" style="margin-top: 30px;">
                         <div class="container">
                              <% if offered_tutorials(@user).count == 0%>
                                   <h1 id="signup"> User has no offered tutorials </h1>
                              <% else %>
                                   <table>
                                        <thead>
                                             <tr>
                                                  <th>Tutor</th>
                                                  <th>Tutee</th>
                                                  <th>Subject</th>
                                                  <th>Start Time</th>
                                                  <th>End Time</th>
                                                  <th>Day</th>
                                             </tr>
                                        </thead>
                                        <% offered_tutorials(@user).each do |t| %>
                                        <!-- can be changed to search for tutor -->
                         
                                        <tr>
                                             <td><%= (get_tutor t) %></td>
                                             <% if (get_tutee t) == "None" %>
                                                  <td>None</td>
                                             <% else %>
                                                  <td>Taken</td>
                                             <% end%>
                                             <td><%= (get_subject t) %></td>
                                             <td><%= (normalize_time t.start_hr, t.start_min) %></td>
                                             <td><%= (normalize_time t.end_hr, t.end_min) %></td>
                                             <td><%= (get_day t) %></td>
                                        </tr>

                                        <% end %>
                                   </table>
                              <% end %>
                              </div>
                    </div>

                    <div id="review" class="tab-pane fade" style="margin-top: 30px;">

                         <div class="container">
                           <table>
                            <thead>
                              <tr>
                                <th> Review </th>
                                <th> Rating </th>
                              </tr>
                            </thead>

                            <% @user.reviews.each do |r| %>
                            <tr>
                              <td> <%= r.body %> </td>
                              <td> <%= r.rating %> </td>
                            <tr>
                            <% end %>
                           </table>
                           <h1 class="center" id="signup">Add Review for : <%= get_full_name(@user)%></h1>
                           <%= form_for(Review.new, :url => user_reviews_path(@user)) do |revf| %>
                            <div class="center">
                              <%= revf.text_area :body %> 
                            </div>
                                 <div class="center">
                                      <h2>(1 being the lowest; 5 being the highest)</h2>
                                      <ul class="list-inline">
                                            <li class="radio" id="deets">
                                                <%= revf.radio_button :rating, 1%>
                                                <%= revf.label :rating, "1" %>
                                            </li>
                                            <li class="radio" id="deets">
                                                <%= revf.radio_button :rating, 2%>
                                                <%= revf.label :rating, "2" %>
                                            </li>
                                            <li class="radio" id="deets">
                                                <%= revf.radio_button :rating, 3%>
                                                <%= revf.label :rating, "3" %>
                                            </li>
                                            <li class="radio" id="deets">
                                                <%= revf.radio_button :rating, 4%>
                                                <%= revf.label :rating, "4" %>
                                            </li>
                                            <li class="radio" id="deets">
                                                <%= revf.radio_button :rating, 5%>
                                                <%= revf.label :rating, "5" %>
                                            </li>
                                      </ul>
                                 </div>
                            <div class="center">
                            <div class='action'>
                              <%= revf.submit %>
                            </div>
                          </div>
                          <% end %>

                         </div>  
                    </div>
        </div>
     </div>
</div>
