<!--  UTut: University Tutor
    Copyright (C) 2018  
    Mendoza, John Dominic
    Segismundo, Julio 
    De Guzman, Nicole Jade            

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    This is a course requirement for CS 192
    Software Engineering II under the
    supervision of Asst. Prof. Ma. Rowena C.
    Solamo of the Department of Computer
    Science, College of Engineering, University
    of the Philippines, Diliman for the AY 2017-2018
 -->

<!-- 
     Nicole Jade De Guzman, 01/30/18: added title, static header
     Nicole Jade De Guzman, 02/03/18: edited header, added footer, edited rails default
     JD Mendoza, 02/06/18: file creation
     Nicole Jade De Guzman, 02/06/18: edited login container
     Nicole Jade De Guzman, 02/07/18: edited login container, centered
-->

<!-- 
     This html file is for login page.
-->

<h1 id="login">LOG-IN</h1>
<% provide(:title, 'Sign in') %>
<% if logged_in? %>
  You are already logged in. Go back
     <%= link_to "Home", root_path %>!
<% else %>
      <div class="container">
        <div class="col-md-4"></div>
        <div class="col-md-4 offset-md-3">
          <div class="row justify-content-center">
             <%= form_for(:session, url: login_path) do |f| %>
             <%= f.label :username, id: 'char' %>
             <%= f.text_field :username, class: 'form-control' %>

             <%= f.label :password, id:'char' %>
             <%= f.password_field :password, class: 'form-control' %>

             <%= f.submit "Log in", class: "btn btn-primary" %>
         <p> <% session[:message] %> </p>
      <% end %>
          </div>
         </div>
        </div>
        <div class="col-md-4"></div>

<% end %>