<!--  UTut: University Tutor
    Copyright (C) 2018  
    Mendoza, John Dominic
    Segismundo, Julio 
    De Guzman, Nicole Jade            

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    This is a course requirement for CS 192
    Software Engineering II under the
    supervision of Asst. Prof. Ma. Rowena C.
    Solamo of the Department of Computer
    Science, College of Engineering, University
    of the Philippines, Diliman for the AY 2017-2018
 -->

<!-- 
     JD Mendoza, 02/14/18: file creation and initial code
     Jade De Guzman, 02/18/18: table
     Jade De Guzman, 02/21/18: font size and color, table color
     Jade De Guzman, 02/23/18: update profile button
     JD Mendoza, 03/14/18: Added Pending requests. Added links to non-trivial tutor and tutee
-->

<!-- 
     Profile Page
-->
<div class="container">
     <% provide(:title, "User Profile") %>
          <!-- TABS -->
          <div class="container">
               <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a data-toggle="tab" href="#tutorial">Offered Tutorials</a></li>
                    <li><a data-toggle="tab" href="#request">Pending Tutorials</a></li>
                    <li><a data-toggle="tab" href="#accept">Tutee Requests</a></li>
                    <li><a data-toggle="tab" href="#ongoing">Ongoing Tutorials</a></li>
                    <li><a data-toggle="tab" href="#done">Finished Tutorials</a></li>
               </ul>

               <div class="tab-content">
                    <div id="tutorial" class="tab-pane fade in active">
                         <br>
                            <% if your_tutorials.count == 0%>
                                 <h1 id="signup"> You have no offered tutorials </h1>
                            <% else %>
                                <table class="table">
                                     <thead>
                                     <tr>
                                         <th>Tutor</th>
                                         <th>Tutee</th>
                                         <th>Subject</th>
                                         <th>Schedule</th>
                                     </tr>
                                     </thead>
                                     <% your_tutorials.each do |t| %>
                                <!-- can be changed to search for tutor -->
                                     
                                     <tr>
                                         <td><%= (get_tutor t) %></td>
                                         <% if (get_tutee t) == "None" %>
                                            <td>None</td>
                                         <% else %>
                                            <td> <%= link_to (get_tutee t), 'users/'+t.tutee_id.to_s %></td>
                                         <% end%>
                                         <td><%= (get_subject t) %></td>                                         
                                         <td><%= (stringify_schedule t)%></td>
                                     </tr>

                                      <% end %>
                                    </table>
                                 <% end %>
                                 <div class="center" style="margin-top: 2%">
                                      <%= link_to "Offer Tutorial", new_tutorial_path, class: "btn btn-lg btn-primary" %>
                                 </div>
                            </div>
                            <div id="request" class="tab-pane fade">
                            <% if your_pending_requests.count == 0%>
                                 <h1 id="signup"> You have no pending requests </h1>
                            <% else %>
                                <table class="table">
                                     <thead>
                                     <tr>
                                         <th>Tutor</th>
                                         <th>Tutee</th>
                                         <th>Subject</th>
                                         <th>Schedule</th>
                                         <th>Status</th>
                                     </tr>
                                     </thead>
                                     <% your_pending_requests.each do |req| %>
                                     <% t=get_tutorial(req.tut_id) %>
                                     <tr>
                                         <td><%= link_to (get_tutor t), 'users/'+t.tutor_id.to_s %></td>
                                         <td><%= (get_tutee t) %></td>
                                         <td><%= (get_subject t) %></td>
                                         
                                         <td><%= (stringify_schedule t)%></td>
                                         <td><%= (get_status req)%></td>
                                     </tr>

                                      <% end %>
                                    </table>
                                 <% end %>

                                 <div class="center" style="margin-top: 2%">
                                      <%= link_to "Search Tutor", tutorial_search_path, class: "btn btn-lg btn-primary" %>
                                 </div>
                            </div>

                            <div id="accept" class="tab-pane fade">
                            <% if tutorial_request.count == 0%>
                                 <h1 id="signup"> No one has requested a tutorial </h1>
                            <% else %>
                                <table class="table">
                                     <thead>
                                     <tr>
                                         <th>Tutor</th>
                                         <th>Tutee</th>
                                         <th>Subject</th>
                                         <th>Schedule</th>
                                         <th>Action</th>
                                     </tr>
                                     </thead>
                                     <% tutorial_request.each do |req| %>
                                     <% t=get_tutorial(req.tut_id) %>
                                     <tr>
                                         <td><%= (get_tutor req) %></td>
                                         <td><%= link_to  (get_tutee req), 'users/'+req.tutee_id.to_s %></td>
                                         <td><%= (get_subject t) %></td>
                                         <td><%= (stringify_schedule t)%></td>
                                         <td><%= link_to "Accept", 'tutorial/accept/'+(req.id).to_s, class: "btn btn-primary" %> 
                                         <%= link_to "Reject", 'tutorial/reject/'+(req.id).to_s , class: "btn btn-primary" %> </td>
                                     </tr>

                                      <% end %>
                                    </table>
                                 <% end %>
                            </div>

                            <div id="ongoing" class="tab-pane fade">
                                 <% if your_ongoing_tutorials.count == 0 and not_your_ongoing_tutorials.count == 0%>
                                      <h1 id="signup"> User has no offered tutorials </h1>
                                 <% else %>
                                    <div class="col-md-6">
                                                     <h1 id="signup">As Tutor</h1>
                                                     <table class="table">
                                                          <thead>
                                                               <tr>
                                                                    <th>Tutee</th>
                                                                    <th>Subject</th>
                                                                    <th>Schedule</th>
                                                                    <th>Action</th>
                                                               </tr>
                                                          </thead>
                                                          <% your_ongoing_tutorials.each do |t| %>
                                           
                                                
                                                          <tr>
                                                              <td><%= link_to (get_tutee t), 'users/'+t.tutee_id.to_s %></td>
                                                              <td><%= (get_subject t) %></td>
                                                              <td><%= (stringify_schedule t)%></td>
                                                              <td> 
                                                                 <%= link_to "Done", 'tutorial/done/'+(t.id).to_s , class: "btn btn-primary" %> 
                                                                 <%= link_to "Remove Tutee", 'tutorial/remove/'+(t.id).to_s, class: "btn btn-primary" %>
                                                              </td>
                                                          </tr>
                                                          <% end %>
                                                    </table>
                                                  </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-5">
                                                       <h1 id="signup">As Tutee</h1>
                                                       <table class="table">
                                                          <thead>
                                                               <tr>
                                                                   <th>Tutor</th>
                                                                   <th>Subject</th>
                                                                   <th>Schedule</th>
                                                               </tr>
                                                          </thead>
                                                          <% not_your_ongoing_tutorials.each do |t| %>
                                                          <tr>
                                                              <td><%= link_to (get_tutor t), 'users/'+t.tutor_id.to_s %></td>
                                                              <td><%= (get_subject t) %></td>
                                                              <td><%= (stringify_schedule t)%></td>
                                                          </tr>
                                                          <% end %>
                                                         </table>
                                                   </div>
                                            
                                   <% end %>
                            </div>

                            <div id="done" class="tab-pane fade">
                            <% if your_finished_tutorials.count == 0%>
                                 <h1 id="signup"> You haven't finished any tutorial </h1>
                            <% else %>
                                <table class="table">
                                     <thead>
                                     <tr>
                                         <th>Tutor</th>
                                         <th>Tutee</th>
                                         <th>Subject</th>
                                         <th>Schedule</th>
                                         <th>Action</th>
                                     </tr>
                                     </thead>
                                     <% your_finished_tutorials.each do |t| %>
                                     <tr>
                                         <td><% if t.tutor_id == current_user.id %>
                                             <%= (get_tutor t) %>
                                             <% else %>
                                             <%= link_to (get_tutor t), 'users/'+t.tutor_id.to_s %>
                                             <% end %>
                                         </td>
                                         <td><% if t.tutee_id == current_user.id %>
                                             <%= (get_tutee t) %>
                                             <% else %>
                                             <%= link_to (get_tutee t), 'users/'+t.tutee_id.to_s %>
                                             <% end %>
                                         </td>
                                         <td><%= (get_subject t) %></td>                                    
                                         <td><%= (stringify_schedule t)%></td>
                                         <td>
                                             <% if t.tutor_id != current_user.id %>

                                             <% else %>
                                                <%= link_to "Undo", 'tutorial/undo/'+(t.id).to_s, class: "btn btn-primary" %> 
                                             <% end %>
                                     </tr>

                                      <% end %>
                                    </table>
                                 <% end %>
                            </div>

               </div>
          </div>
</div>