<!--  UTut: University Tutor
    Copyright (C) 2018  
    Mendoza, John Dominic
    Segismundo, Julio 
    De Guzman, Nicole Jade            

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    This is a course requirement for CS 192
    Software Engineering II under the
    supervision of Asst. Prof. Ma. Rowena C.
    Solamo of the Department of Computer
    Science, College of Engineering, University
    of the Philippines, Diliman for the AY 2017-2018
 -->

<!-- 
     Jules Segismundo, 01/30/18: created file and added skeleton of the html
-->

<!-- 
     This html file is for creating a tutorial. Cannot be accessed as of the current version.
-->
<div class="container"> 
     <h1>Offer Tutorial</h1>
          <% if has_error? %>
                         <div id="error_explanation">
                              <div class="alert alert-danger">
                                   <ul>
                                        <li><%= tutorial[:error] %></li>
                                        <% error_type nil %> <!-- Used to remove message after 1 refresh -->
                                   </ul>
                              </div>
                         </div>
                    <% end %>
          <%= form_with scope: :tutorial, local: true do |f| %>
          <p>
               <%= f.label :subject %><br>
               <%= f.text_field :subject %>
          </p>
      
          <p>
               <%= f.submit %>
               <%= link_to "Cancel", root_url, class: "btn btn-primary" %>
          </p>

     <% end %>
</div>