<!--  UTut: University Tutor
    Copyright (C) 2018  
    Mendoza, John Dominic
    Segismundo, Julio 
    De Guzman, Nicole Jade            

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.

    This is a course requirement for CS 192
    Software Engineering II under the
    supervision of Asst. Prof. Ma. Rowena C.
    Solamo of the Department of Computer
    Science, College of Engineering, University
    of the Philippines, Diliman for the AY 2017-2018
 -->

 <!-- 
     Nicole Jade De Guzman, 01/30/18: file created
     Nicole Jade De Guzman, 02/03/18: made navbar with static home, sign in, log in
     ####, 02/05/18: added conditions, logged in or not
-->

<!-- 
     This file is the html file for the header 
-->

<header class="navbar navbar-fixed-top navbar-inverse">
     <div class="container">
          <nav>
               <%= link_to "UTut", root_path, id: "logo" %>
               <ul class="nav navbar-nav navbar-right">
                    <% if logged_in? %>
                    <li><%= link_to "Profile", user_path(current_user)  %></li>
                    <li><%= link_to "Tutorials", tutorial_index_path %></li>
                    <li><%= link_to "Update Profile", edit_user_path(current_user) %>
                    <li><%= link_to "Log out", logout_path, data: {method: 'delete', confirm: 'Are you sure you want to log out?'} %>

                    <% else %>
                    <li><%= link_to "Home", root_path %></li>
                    <li><%= link_to "Sign up", signup_path %></li>
                    <li><%= link_to "Log in", login_path %></li>
                    <% end %>
               </ul>
          </nav>
     </div>
</header>  